* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

.bigcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6.25rem;
}

.leftcontainer {
    width: 25rem;
    height: 25rem;
}

.leftcontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    margin: auto;
    border-radius: 0.75rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.container1 {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputcontainer input {
    border-radius: 1.75rem;
    padding: 0.75rem 1.75rem;
    line-height: 1.875rem;
    font-size: 1.125rem;
    border: 0.0625rem solid #C5D6E0;
    box-shadow: inset 0rem 0.125rem 0.25rem rgba(7, 29, 43, 0.12);
    width: 25rem;
    transition: all 0.5s ease-in-out;
}

.btn-container {
    position: relative;
}

.btn {
    position: absolute;
    border: none;
    text-align: center;
    box-shadow: 0rem 0.5rem 2rem -1rem rgba(0, 112, 246, 0.32), 0rem 1rem 2rem -1rem rgba(7, 29, 43, 0.32);
    padding: 0 1.75rem;
    height: 3.5rem;
    font-size: 1.125rem;
    border-radius: 1.75rem;
    cursor: pointer;
    font-weight: 600;
    right: 1.875rem;
}

button {
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.2);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: blue;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5625rem;
    height: 1.5625rem;
    background: white;
    border: 0.125rem solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
    width: 1.5625rem;
    height: 1.5625rem;
    background: white;
    border: 0.125rem solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]::-ms-thumb {
    width: 1.5625rem;
    height: 1.5625rem;
    background: white;
    border: 0.125rem solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-ms-thumb {
    transform: scale(1.2);
}

.tag {
    display: block;
    position: absolute;
    margin: 0;
    top: 0.75rem;
    right: 1rem;
    left: auto;
    transition: .2s;
    padding: 0.4375rem;
    border-radius: 0.4375rem;
    font-weight: 600;
}

.container2 {
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    padding: 1.875rem 0rem;
}

.showtoashmessage {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    color: rgb(15, 72, 15);
    border-radius: 0.75rem;
    padding: 1.25rem 1.875rem;
    box-shadow: 0rem 0rem 2rem -1rem rgba(0, 112, 246, 0.32), 0rem 1rem 2rem -1rem rgba(7, 29, 43, 0.32);
    animation: fadeInSlideDown 0.6s ease-out;
}

.showtoashmessage::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.625rem;
    width: 100%;
    background-color: rgb(144, 238, 144);
    animation: fillBar 3s linear forwards;
}

@keyframes fillBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.timeStamp {
    font-size: 1rem;
    padding-bottom: 1.875rem;
    font-family: "JetBrains Mono", monospace;
    text-align: justify;
    height: 5rem;
    width: 18.75rem;
    margin: auto;
}

.rangecontainer {
    margin: 0.625rem 0rem;
    font-size: 1.125rem;
}

.rangecontainer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rangecontainer1 input[type=range] {
    height: 0.75rem;
    width: 60%;
    border-radius: 18.75rem;
    cursor: pointer;
}

.rangeBtn {
    padding: 0.625rem 1.375rem;
    border-radius: 50%;
    border: none;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.rangeBtn:hover {
    background-color: black;
    color: #fff;
    transition: .2s linear;
}

.labelcontainer {
    text-align: center;
    margin: 0.625rem 0rem;
    padding: 0.625rem;
}

.labelcontainer label {
    font-size: 1.125rem;
    margin: 1.25rem 0.625rem;
    font-weight: 600;
}

.labelcontainer input {
    height: 100%;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 2.1875rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.375rem;
    user-select: none;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5625rem;
    width: 1.5625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    box-shadow: inset 0rem 0.125rem 0.25rem rgba(7, 29, 43, 0.12);
}

.custom-checkbox input:checked~.checkmark {
    background-color: transparent;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 0.5625rem;
    top: 0.3125rem;
    width: 0.3125rem;
    height: 0.625rem;
    border: solid black;
    border-width: 0 0.1875rem 0.1875rem 0;
    transform: rotate(45deg);
}

.saved-password {
    margin: 5rem 40px 0px 0px;
    padding: 0.625rem;
    cursor: pointer;
    border: 0.125rem solid #ddd;
    height: 25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
}

.stored-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    margin: 0.625rem 0rem;
}

@media only screen and (max-width: 62.5rem) {
    .bigcontainer {
        display: block;
        margin: 0rem;
    }

    .leftcontainer {
        height: 12.5rem;
        margin: auto;
    }

    .leftcontainer img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .container1 {
        width: 100%;
        margin: auto;
    }

    .rightcontainer {
        padding: 0.625rem;
    }

    .container2 {
        width: 100%;
    }

    .inputcontainer input {
        width: 100%;
    }

    .container1 {
        display: contents;
        text-align: center;
    }

    .inputcontainer {
        margin: auto;
        position: relative;
    }

    h1 {
        width: 100%;
    }

    .container2 {
        width: 90%;
    }

    .btn {
        position: static;
        margin-top: 1.25rem;
    }

    .btn-container {
        text-align: center;
    }

    .saved-password {
        margin-top: 0rem;
    }

    .container2 {
        padding: 1.875rem 0rem 0rem 0rem;
    }
}

@media only screen and (min-width: 62.5rem) and (max-width: 78.125rem) {
    .btn {
        position: static;
    }

    .btn-container {
        position: static;
    }
}