* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bigcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.container {
    margin: auto;
    border-radius: 12px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.container1 {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputcontainer input {
    border-radius: 28px;
    padding: 12px 28px;
    line-height: 1.875rem;
    font-size: 1.125rem;
    border: 1px solid #C5D6E0;
    box-shadow: inset 0px 2px 4px rgba(7, 29, 43, 0.12);
    width: 400px;
    transition: all 0.5s ease-in-out;
}

.btn-container {
    position: relative;
}

.btn {
    position: absolute;
    border: none;
    text-align: center;
    box-shadow: 0px 8px 32px -16px rgba(0, 112, 246, 0.32), 0px 16px 32px -16px rgba(7, 29, 43, 0.32);
    padding: 0 28px;
    height: 56px;
    font-size: 1.125rem;
    border-radius: 28px;
    cursor: pointer;
    font-weight: 600;
    right: 30px;
}

button {
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.2);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: blue;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]::-ms-thumb {
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid blue;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-ms-thumb {
    transform: scale(1.2);
}

.tag {
    display: block;
    position: absolute;
    margin: 0;
    top: 12px;
    right: 16px;
    left: auto;
    transition: .2s;
    padding: 7px;
    border-radius: 7px;
    font-weight: 600;
}

.container2 {
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    padding: 30px 0px;
}

.showtoashmessage {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    color: rgb(15, 72, 15);
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0px 0px 32px -16px rgba(0, 112, 246, 0.32), 0px 16px 32px -16px rgba(7, 29, 43, 0.32);
    animation: fadeInSlideDown 0.6s ease-out;
}

.showtoashmessage::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: rgb(144, 238, 144);
    animation: fillBar 3s linear forwards;
}

@keyframes fillBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.timeStamp {
    font-size: 16px;
    padding-bottom: 30px;
    font-family: Consolas;
    text-align: justify;
    height: 80px;
    width: 18.75rem;
    margin: auto;
}

.rangecontainer {
    margin: 10px 0px;
    font-size: 1.125rem;
}

.rangecontainer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rangecontainer1 input[type=range] {
    height: 12px;
    width: 60%;
    border-radius: 300px;
    cursor: pointer;
}

.rangeBtn {
    padding: 10px 22px;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.rangeBtn:hover {
    background-color: black;
    color: #fff;
    transition: .2s linear;
}

.labelcontainer {
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
}

.labelcontainer label {
    font-size: 1.125rem;
    margin: 20px 10px;
    font-weight: 600;
}

.labelcontainer input {
    height: 100%;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px rgba(7, 29, 43, 0.12);
}

.custom-checkbox input:checked~.checkmark {
    background-color: transparent;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@media only screen and (max-width: 1000px) {
    .bigcontainer {
        display: block;
        margin: 0px;
    }

    .leftcontainer {
        height: 200px;
    }

    .leftcontainer img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .container1 {
        width: 100%;
        margin: auto;
    }

    .rightcontainer {
        padding: 10px;
    }

    .container2 {
        width: 100%;
    }

    .inputcontainer input {
        width: 100%;
    }

    .container1 {
        display: contents;
        text-align: center;
    }

    .inputcontainer {
        margin: auto;
        position: relative;
    }

    h1 {
        width: 100%;
    }

    .container2 {
        width: 90%;
    }

    .btn {
        position: static;
        margin-top: 20px;
    }

    .btn-container {
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px) {
    .btn {
        position: static;
    }

    .btn-container {
        position: static;
    }
}